In [1]:
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [3]:
loan = pd.read_csv('income.csv')
loan.head(5)

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [11]:
#seperating predictors and response
X = loan.iloc[:,0:6]
y = loan.iloc[:,6]

In [13]:
#spliting dataset in training and testing
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size = 0.2)

In [19]:
#create adaboost classifier object
adamodel = AdaBoostClassifier(n_estimators=100,learning_rate = 1)

In [21]:
#train adaboost classifier
model = adamodel.fit(X_train,y_train)

#predict the response fot the test dataset
y_pred = model.predict(X_test)

In [25]:
#test the accuracy of the model
print('Accuracy: ',metrics.accuracy_score(y_test,y_pred))

Accuracy:  0.8360546655064749